.jumbotron {
    background-image: url("image.jfif");
    background-size: cover;
    text-align: center;
  }

.jumbotron h1 {
    color: #25db15;
}

.jumbotron p {
    color: #ff0000;
}
body {
    background: #605f75 !important;
}

.panel-title {
    background: #7980df;
}

.panel-default {
    background: #7980df;
}

.panel-heading {
    background: #7980df !important;
    color: #f7f7f7 !important;
}

.panel-body {
    color: #1fc0e9;
}

.well {
    color: #6c757d;
}